.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  gap: var(--spacing-2xl);

  max-width: 920px;

  margin-inline: auto;
}
.cardContainer {
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 1s;
  backface-visibility: hidden;
  &.showBack {
    transform: rotateY(-180deg);
  }
}
/* .card:hover {
  transform: scale(1.05);
} */
.back {
  transform: rotateY(180deg);
}
.front {
  position: absolute;
  width: 100%;
}
