.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  height: 400px;
  padding: var(--spacing-xs);

  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-s);
  background-color: var(--color-type-grass);
}



.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 var(--spacing-xs);
}

.name {
  font-size: var(--font-size-headline);
  line-height: var(--font-line-height-headline);
  font-weight: var(--font-weight-headline);

  color: var(--color-brand-0);
}

.number {
  font-size: var(--font-size-subheadline);
  line-height: var(--font-line-height-subheadline);
  font-weight: var(--font-weight-subheadline);

  color: var(--color-brand-0);
  opacity: 50%;
}

.image {
  margin: auto;
  margin-top: -100px;

  width: 140px;
  height: 140px;
}

.card-info {
  /* margin-top: 102px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 8px;

  padding: var(--spacing-s) var(--spacing-xs);

  background: var(--color-brand-0);
  border-radius: var(--radius-l);
}

.tags {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);

  /* margin-top: 52px; */
}

.tag {
  font-size: var(--font-size-caption);
  line-height: var(--font-line-height-caption);
  font-weight: var(--font-weight-caption);

  padding: var(--spacing-3xs) var(--spacing-xs);

  color: var(--color-brand-0);
  border-radius: var(--radius-2xl);
}

.tag svg {
  width: var(--spacing-m);
  height: var(--spacing-m);
  & path {
    fill: var(--color-brand-0);
  }
}

.chars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-m);

  height: var(--spacing-2xl);
  font-size: var(--font-size-caption);
  line-height: var(--font-line-height-caption);
  font-weight: var(--font-weight-caption);
}

.chars-separator {
  height: 100%;
  width: 1px;
  background-color: var(--color-brand-100);
}

.char-weight {
  display: flex;
  align-items: center;

  gap: var(--spacing-2xs);
}

.char-length {
  display: flex;
  align-items: center;

  gap: var(--spacing-2xs);
}

.chars svg {
  width: var(--spacing-l);
  height: var(--spacing-l);
  & path {
    stroke: var(--color-brand-500);
  }
}

.stats {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xs);
}

.stat-item {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.stat-item > progress {
  width: 100%;
  height: var(--spacing-2xs);
  border-radius: var(--spacing-2xs);

  border: none;
  background-color: var(--color-brand-100);
}
.stat-item > progress::-webkit-progress-bar {
  border-radius: var(--spacing-2xs);

  background-color: var(--color-brand-100);
}
.stat-item > progress::-webkit-progress-value {
  border-radius: var(--spacing-2xs);

  background-color: var(--color-brand-900);
}

.stat-item > progress::-moz-progress-bar {
  border-radius: var(--spacing-2xs);

  background-color: var(--color-brand-900);
  width: 0;
}

.stat-values {
  display: flex;
  justify-content: space-between;
  min-width: 51px;

  font-size: var(--font-size-caption);
  line-height: var(--font-line-height-caption);
  font-weight: var(--font-weight-caption);
}

.stat-name {
  color: var(--color-brand-300);
}

.grass {
  background-color: var(--color-type-grass);
}
.bug {
  background-color: var(--color-type-bug);
}
.electric {
  background-color: var(--color-type-electric);
}
.ground {
  background-color: var(--color-type-ground);
}
.fire {
  background-color: var(--color-type-fire);
}
.fighting {
  background-color: var(--color-type-fighting);
}
.poison {
  background-color: var(--color-type-poison);
}
.psychic {
  background-color: var(--color-type-psychic);
}
.fairy {
  background-color: var(--color-type-fairy);
}
.dragon {
  background-color: var(--color-type-dragon);
}
.flying {
  background-color: var(--color-type-flying);
}
.ghost {
  background-color: var(--color-type-ghost);
}
.water {
  background-color: var(--color-type-water);
}
.ice {
  background-color: var(--color-type-ice);
}
.normal {
  background-color: var(--color-type-normal);
}
.rock {
  background-color: var(--color-type-rock);
}
.steel {
  background-color: var(--color-type-steel);
}
.dark {
  background-color: var(--color-type-dark);
}
