.footer {
    position: fixed;
    bottom: 0;

    width: 100%;

    padding: var(--spacing-m);

    background-color: var(--color-brand-900);
    color: var(--color-brand-0);
    text-align: center;

    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-caption);
    line-height: var(--font-line-height-caption);
}