:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-accent: #7d3bec;
  --color-type-grass: #a2ce69;
  --color-type-bug: #c6d282;
  --color-type-electric: #ebd56c;
  --color-type-ground: #d3ae6b;
  --color-type-fire: #d36255;
  --color-type-fighting: #b44d54;
  --color-type-poison: #9756dc;
  --color-type-psychic: #db6ab5;
  --color-type-fairy: #e8a9d3;
  --color-type-dragon: #b7b6db;
  --color-type-flying: #a2bfeb;
  --color-type-ghost: #655a7d;
  --color-type-water: #3cafe8;
  --color-type-ice: #c6fbf9;
  --color-type-normal: #d1d2c0;
  --color-type-rock: #a49d9a;
  --color-type-steel: #78817e;
  --color-type-dark: #3d413f;

  --color-brand-0: #ffffff;
  --color-brand-50: #f5f4f5;
  --color-brand-100: #eaeaeb;
  --color-brand-200: #d6d4d6;
  --color-brand-300: #c1bfc2;
  --color-brand-400: #ada9ad;
  --color-brand-500: #989499;
  --color-brand-600: #5c5a5d;
  --color-brand-700: #3f3d3f;
  --color-brand-800: #212021;
  --color-brand-900: #030303;

  --icon-types-grass: '/types/grass.png'

  --spacing-3xs: 0.125rem; /* 2px */
  --spacing-2xs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-s: 0.75rem; /* 12px */
  --spacing-m: 1rem; /* 16px */
  --spacing-l: 1.25rem; /* 20px */
  --spacing-xl: 1.5rem; /* 24px */
  --spacing-2xl: 2rem; /* 32px */
  --spacing-3xl: 2.5rem; /* 40px */
  --spacing-4xl: 4rem; /* 64px */

  --font-size-display1: 1.5rem;
  --font-size-headline: 1.25rem;
  --font-size-subheadline: 1rem;
  --font-size-link: 0.875rem;
  --font-size-body: 0.875rem;
  --font-size-caption: 0.75rem;

  --font-weight-display1: 600;
  --font-weight-headline: 600;
  --font-weight-subheadline: 600;
  --font-weight-link: 600;
  --font-weight-body: 400;
  --font-weight-caption: 400;

  /* Shadows */

  /* Icons */

  /* Radius */
}

@media (max-width: 768px) {
  :root {
    --font-size-display1: 1.5rem;
    --font-size-headline: 1.25rem;
    --font-size-subheadline: 1rem;
    --font-size-link: 0.875rem;
    --font-size-body: 0.875rem;
    --font-size-caption: 0.75rem;
  }
}
